@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

body {
  color: $text-medium;
  font-family: "Manrope", sans-serif;
  font-size: $fs-400;
  font-weight: $fw-normal;
}
